body {
  background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
  /* The image used for background*/
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  font-family: "Syne", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  display: flex;
  /* Use flexbox for centering */
  flex-direction: column;
  /* Stack items vertically */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  width: 100%;
  /* Ensure full width of the container */
  text-align: center;
  /* Ensure text inside is centered */
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  width: auto !important;
  padding: 0.5rem 1rem;
  /* Adjust padding for desired button size */

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .link {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}