@import "tailwindcss";


@theme {

  --color-pink: #ff0080;
  --color-yellow: #ffdc00;
  --color-blue: #0070f3;
  
  --color-bg: 255 255 255;
  --color-box: 17 24 39;
  --box-border: 0, 0, 0;
  --box-sd: 226 232 240 / 0.5;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-gr-1: 31 41 55;
  --heading-gr-2: 75 85 99;
  --heading-3: 55 65 81;
  --link-bg: 75, 13, 102;
  --link-bg-aux: 217, 121, 254;
  --navSlide-bg1: 255 255 255;
  --navSlide-bg2: 240 240 240;
  --hover-bubble: 209 238 239;
  --hover-bubble-aux: 215 191 207;
}

.dark {
  --color-bg: 3 7 18;
  --color-box: 255 255 255;
  --box-border: 255, 255, 255;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
  --heading-gr-1: 246 182 182;
  --heading-gr-2: 209 115 227;
  --link-bg: 163 158 158;
  --link-bg-aux: 171, 84, 231;
  /* --navSlide-bg1: rgb(53, 52, 52); 
  --navSlide-bg2: rgb(36, 24, 24) ; */
  --navSlide-bg1: 53 52 52 ; 
  --navSlide-bg2: 36 24 24;
  --hover-bubble: 149 135 147;
  --hover-bubble-aux: 69 61 61/.23;



}

@layer utilities {
  .border-box-border {
    border-color: rgb(var(--box-border));
  }
  .bg-body {
    background-color: rgb(var(--color-bg));
  }
  .bg-box-bg {
    background-color: rgb(var(--color-box));
  }
  .bg-link-bg {
    background-color: rgb(var(--link-bg));
  }
  .bg-link-bg-aux {
    background-color: rgb(var(--link-bg-aux));
  }
  .text-heading-1 {
    color: rgb(var(--heading-1));
  }
  .text-heading-2 {
    color: rgb(var(--heading-2));
  }
  .text-heading-3 {
    color: rgb(var(--heading-3));
  }

  .text-link-bg {
    color: rgb(var(--link-bg));
  }
  .text-link-bg-aux {
    color: rgb(var(--link-bg-aux));
  }


.navSlide-gradient {
    background: linear-gradient(180deg, rgb(var(--navSlide-bg1)), rgb(var(--navSlide-bg2)));
    opacity:.95;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-[rgb(var(--heading-gr-1))] to-[rgb(var(--heading-gr-2))] bg-clip-text text-transparent;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}


.nav-container {
  anchor-name: --nav-area;  
  a {
    &.active{
      anchor-name: --active;
    }
    &:before{
      content: "";
      position: absolute;   
      inset: 0 ;
      border-radius: 999px;
    }
    &:hover:before{
      anchor-name: --nav-area;
    }
}

}
.bubble {
  position:absolute;
  position-anchor: --active;
  border-radius: 999px;
  transition: all 0.5s cubic-bezier(0.5, 1.1, 0.4, 1);

  top: anchor(top);
  bottom: anchor(bottom);
  left: anchor(left);
  right: anchor(right);
  z-index:10;
  
  &.active{
    position-anchor: --active;
    background: linear-gradient(180deg, rgb(var(--link-bg-aux)), rgb(var(--link-bg)));
    z-index: 12;
  /* Glowing effect from Raul's design */
  /* box-shadow: 0 4px 15px rgb(var(--link-bg)); */
  }

  &.hover{
    position-anchor: --nav-area;
    background: linear-gradient(180deg, rgb(var(--hover-bubble)), rgb(var(--hover-bubble-aux))); 
    z-index: 11;
    opacity: 0.5;
}
}

.nav-link {
  z-index: 20;  
}

